.page-container {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.container > * {
    margin: 5px;
}

.mb-40 {
    margin-bottom: 40px;
}

h2 {
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 910px) {
    .page-container {
        width: auto;
    }
    .container {
        width: auto;
        flex-wrap: wrap;
    }
}

/* remove default styles */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }